<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">            
</head>
<body>
  <style>
  .profile{
    margin:0 auto;
    max-width: 1100px;
  }
  </style>  
  <div class="row">
    <div class="profile">
      <h2 class="header center">Dnipro_DevOps_ANDERSEN_2021</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img src="static/photo.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <ul class="collection">
              <li class="collection-item">EC2 and EC2 Dashbord</li>
              <li class="collection-item">VPC Management Consol</li>
              <li class="collection-item">S3 Management Consol</li>
              <li class="collection-item">IAM Management Consol</li>
              <li class="collection-item">Billing Dashbord</li>
              <li class="collection-item">Cli AWS</li>
              <li class="collection-item">Amazon Route 53</li>
              <li class="collection-item">Amazon  ECS</li>
            </ul>
          </div>          
        </div>
      </div>
    </div>
  </div>
</body>
</html>